<div class="container-fluid">
<h2>Sections for Course</h2>
<ul class="list-group">

  <li *ngFor="let section of sectionsStudent" class="list-group-item">
    <b>{{section.name}} (seats: {{section.seats}})</b>

    <button class="float-right btn btn-primary" (click)="enroll(section._id)" disabled>Enrolled</button>

  </li>
</ul>
  <ul class="list-group">
  <li *ngFor="let section of sectionsCourse" class="list-group-item">
    <b>{{section.name}} (seats: {{section.seats}})</b>

    <button id="enroll" class="btn btn-success float-right" (click)="enroll(section._id)" *ngIf="user._id !== undefined && section.seats > 0">Enroll</button>
    <label id="login" class="float-right" *ngIf="user._id === undefined">Cannot Enroll! Please Login first</label>
  </li>

</ul>
</div>
