
<div class="container-fluid">
<h2>Welcome {{currentUser.username}}</h2>

<h3>Enrollments</h3>

<input [(ngModel)]="currentUser.username" class="form-control" placeholder="Username" disabled/>
<input [(ngModel)]="currentUser.firstName" class="form-control" placeholder="First Name"/>
<input [(ngModel)]="currentUser.lastName" class="form-control" placeholder="Last Name"/>
<input [(ngModel)]="currentUser.email" class="form-control" placeholder="Email id"/>
  <input [(ngModel)]="currentUser.phoneNo" class="form-control" placeholder="Phone Number"/>
  <input [(ngModel)]="currentUser.address" class="form-control" placeholder="Address"/>

<ul class="list-group">

  <li class="list-group-item" *ngFor="let section of currentUser.sections">

    {{section.title}} (seats: 23)

    <button class="float-right">Drop</button>

  </li>

</ul>
<button (click)="update()" class="btn btn-primary btn-block">
  Update
</button>
<a class="link" routerLink="/home/logout">Logout</a>
<a class="link" routerLink="/home">Home</a>
</div>
