<div class="container-fluid">
  <h3>Sections </h3>
<div class="row">
  <div class="col-6">
    <ul class="list-group border-light">
      <li class="list-group-item active">
        Courses
      </li>
      <li (click)="selectCourse(course)"
          *ngFor="let course of courses"
          [ngClass]="{'active': course.id == selectedCourse.id}"
          class="list-group-item">
        {{course.title}} ({{course.id}})
      </li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group border-light">
      <li class="list-group-item active">
        Sections
      </li>
      <li class="list-group-item">
        <input [(ngModel)]="section.name"
               class="form-control" placeholder="Section name">
        <input [(ngModel)]="section.seats"
               class="form-control" placeholder="Seats Available">
        <span class="form-control border-0 align-content-center" >
          <button (click)="addSection(section)" *ngIf="edit === false"
                  class="btn btn-success btn-sm">Add</button>
        <button (click)="updateSection()" *ngIf="edit === true"
                class="btn btn-success btn-sm">Update</button></span>
      </li>
      <li *ngFor="let section of sections" class="list-group-item">
        {{section.name}} - {{section.seats}}
        <button class="btn float-right" type="button" id="remove" (click)= "deleteSection(section)">

        <i class="fa-1x fa fa-times"></i>

        </button>

        <button class="btn float-right" type="button" (click) ="editSection(section)" id="edit">

        <i class="fa fa-pencil"></i>

        </button>
      </li>
    </ul>
  </div>
</div>
</div>
