<div class="container-fluid">
  <h2>Register</h2>
  <input [(ngModel)]="username" class="form-control" placeholder="username"/>
  <input [(ngModel)]="password" class="form-control" placeholder="password"/>
  <input [(ngModel)]="verifyPassword" class="form-control" placeholder="Verify Password"/>

  <button (click)="register(username, password, verifyPassword)" class="btn btn-primary btn-block">
    Register
  </button>
  <a class="link" routerLink="/home/login">Login</a>
  <a class="link" routerLink="/home">Home</a>
</div>
